:root {
    /* COLORS */
    --bg-color: #181a1f;
    --bg-color-2: #24272f;

    --border-color: #262930;
    --border-color-2: #474c56;

    --input-bg-color: #23262d;
    --text-color-1: #ffffff;
    --text-color-2: #8e95a0;
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 1rem;
    font-family: 'Inter';
    line-height: 1.5;
    background-color: var(--bg-color);
}